.six_section__style {
    display: flex;
    background-color: black;
  }
  

  .six_content_style {
    padding-left: 10%;
  padding-right: 14%;
  padding-left: 16%;
  color: white;
    align-items: flex-end;
  }